body{
border-top: 18px solid transparent;
border-bottom: 18px solid transparent;
border-left: 30px solid blue;
background-color: #3f87a6;
height: 800px;
}

.module{
    padding: 40px;
    width: 100%;
    min-width: 100%;
}

.client{
    border: 1px solid black;
}


app-client, app-matiere, app-qualite, app-banner, app-equipement{
    width: 100%;
}

#qualite1{
    margin-top: -30px;
}

.accordeon[_ngcontent-ret-c52] {
    background-color: #3f87a6 !important;
    height: 100px !important;
  }

  .topScrollL{
    cursor: pointer;
    height: 30px;
    font-size: 30px;
  }

  .topScrollR{
    cursor: pointer;
    height: 30px;
    font-size: 30px;
}

.topScroll{
    width: 100%;
}

.example-button {
    margin-top: 16px;
  }
  
  .example-tooltip-red {
    background: #b71c1c;
  }