<section fxLayout="column" class="body">
  <section fxLayout="row" 
    fxLayoutAlign="start center"
     fxFlex="100"
     class="module">
      <app-banner></app-banner>
  </section>
  <section fxLayout="row" fxLayoutAlign="start center" >
      <app-client id="client" fxFlex="90"></app-client>
  </section>
  <section fxLayout="row"  fxLayoutAlign="start center"
     fxFlex="100">
    <app-matiere id="matiere"></app-matiere>
  </section>
  <section fxLayout="row" fxLayoutAlign="start center" class="qualite" fxFlex="100">
    <app-qualite id="qualite" id="choose_package"></app-qualite>
  </section>
</section>
