    <section fxLayout="column" class="equipement mat-elevation-z4">

     <mat-accordion #myaccordeon="matAccordion">
        <mat-expansion-panel 
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="accordeon mat-elevation-z8">

              <section fxLayout="row" fxLayoutAlign="space-evenly center" >
                <span>NOS EQUIPEMENTS:</span>
             </section>

                </mat-panel-title>
                  </mat-expansion-panel-header>
                   <section fxLayout="row" fxLayoutAlign="space-around center" >
                      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                        [(ngModel)]="animationGo">
                        <mat-radio-button class="example-radio-button" *ngFor="let type of typeEquipement" [value]="type" (change)="radioChange(type)">
                          {{type}}
                        </mat-radio-button>
                    </mat-radio-group>
                    <div class="md-form">
                     
                    </div>
                   </section>

                   {{animationGo}}
                   <section fxLayout="row" fxLayoutAlign="space-around center">
                    <section   *ngFor="let e3axes of listEquipement">


                    <mat-card class="mat-elevation-z5" >
                      <mat-card-header [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{e3axes.name}}</mat-card-title>
                        <mat-card-subtitle>{{e3axes.marque}}</mat-card-subtitle>
                      </mat-card-header>
                     <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
                      <mat-card-content>
                      <section fxLayout="column">
                        <p>Type: {{e3axes.type}}</p>
                        <p>Capacite: {{e3axes.capacite}}</p>
                        </section>
                      </mat-card-content>
                    </mat-card>

                    </section>
                    </section>
              </mat-expansion-panel>
        </mat-accordion>
