.footer{
    height: 35px;
    background-color: white;
    width: 100%;
}



@media (max-width:640px) {
    .footer{
        height: 35px;
        background-color: white;
        width: 100%;
        min-width: 100%;
    }
    
    }