.contact {
    width: 105%;
    min-width: 100%;
    border-radius: round($number: 45);
    margin-top: 50px;
    margin-left: 50px;
    background-color: #3f87a6 !important;
    margin-bottom: 25px;
    font-family: 'cyril';
    min-height: 350px;
    min-width: 100%;
    border-radius: 10px;
    border-left: 11px solid #E6E6E6;
    border-right: 11px solid #E6E6E6;
    border-bottom: 11px solid grey;
  }

  .information{
    width: 600px !important;
  }

  .h1, h1 {
    font-size: 2.5rem;
    font-family: cyril;
    text-align: center;
    TEXT-DECORATION: UNDERLINE;
    padding-bottom: 20px;
    margin-top: -60px;
}

.h2, h2 {
  font-size: 2rem;
  font-family: cyril;
  text-align: center;
  color: white;
}

.h3, h3 {
  font-size: 1.75rem;
  font-family: cyril;
  text-align: center;
}

h3:hover{
  color: red;
}