.contact {
    width: 105%;
    min-width: 100%;
    border-radius: round($number: 45);
    margin-top: 50px;
    margin-left: 50px;
    background-color: #3f87a6 !important;
    margin-bottom: 25px;
    font-family: 'cyril';
    min-height: 350px;
    min-width: 100%;
  }

  .information{
    width: 600px !important;
  }