
  
    <section fxLayout="column" class="client mat-elevation-z4">
     <mat-accordion #myaccordeon="matAccordion">
        <mat-expansion-panel 
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="accordeon mat-elevation-z8">
              <section fxLayout="row" fxLayoutAlign="space-evenly center" >
                <span>NOS SECTEURS D'ACTIVITES:</span>
             </section>
                </mat-panel-title>
                  </mat-expansion-panel-header>
                  <section fxLayout="column">

                    <section fxLayout="row" fxLayoutAlign="space-around center" class="contenu">

                     <section>
                        <img src="assets/client/aero.jpg" class="mat-elevation-z8">
                     </section>

                     <section>
                    <p> •	Réalisation et fabrication de pièces mécaniques, petite et moyenne série dans les secteurs de l’aéronautique, médical, câblerie, verrerie, militaire…</p>
                     </section>

                     <section>
                        <img src="assets/client/ferro.png" class="mat-elevation-z8">
                     </section>

                   </section>
                   <section fxLayout="row" fxLayoutAlign="space-around center" class="contenu">
                     <section>
                      <img src="assets/client/verre.jpg" class="mat-elevation-z8">
                    </section>
                     <section>
                     <p>•	Réalisation et montage de sous ensemble</p>
                     </section>
                     <section>
                        <img src="assets/client/medical.jpg" class="mat-elevation-z8">
                    </section>
                   </section>
                   
                   
                   </section>
              </mat-expansion-panel>
        </mat-accordion>

