.client {

  border: 1px solid red;
  margin: 50px;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #3f87a6);
}

.accordeon{
  background-color: #87CEFA;
}

img{
  padding: 30px;
  background-color:white ;
}
