
  
    <section fxLayout="column" class="client mat-elevation-z4">
    
              <section fxLayout="row" fxLayoutAlign="space-evenly center" >
                <span>NOS SECTEURS D'ACTIVITES:</span>
             </section>
                  <section fxLayout="column">

                    <section fxLayout.md="row" fxLayout.lg="row" fxLayout.xs="column" fxLayoutAlign="space-around center" class="contenu">

                     <section>
                        <img src="assets/client/aero.jpg" class="mat-elevation-z8">
                     </section>

                     <section class="text">
                    <p> •	Réalisation et fabrication de pièces mécaniques, petite et moyenne série dans les secteurs de l’aéronautique, médical, câblerie, verrerie, militaire…</p>
                     </section>

                     <section>
                        <img src="assets/client/ferro.png" class="mat-elevation-z8">
                     </section>

                   </section>
                   <section fxLayout.md="row" fxLayout.lg="row" fxLayout.xs="column" fxLayoutAlign="space-around center" class="contenu">
                     <section>
                      <img src="assets/client/verre.jpg" class="mat-elevation-z8">
                    </section>
                     <section class="text">
                     <p>•	Réalisation et montage de sous ensemble</p>
                     </section>
                     <section>
                        <img src="assets/client/medical.jpg" class="mat-elevation-z8">
                    </section>
                   </section>
                   </section>
             
