
  <section class="client mat-elevation-z4">
    <section fxLayout="column" >
      <section fxLayout="row" fxLayoutAlign="space-around center">
        <section>
          <img src="assets/client/aero.jpg">
          <p>Aéronautique</p>
        </section>
        <section>
          <img src="assets/client/ferro.png">
          <p>Ferroviaire</p>
        </section>
        <section>
        <img src="assets/client/verre.jpg">
        <p>Verrerie</p>
        </section>
      </section>
      <section fxLayout="row" fxLayoutAlign="space-around center">
        <section>
          <img src="assets/client/cable.jpg">
            <p>Cablerie</p>
        </section>
        <section>
          <img src="assets/client/medical.jpg">
              <p>Médical</p>
        </section>
      </section>
  </section>
