
<app-header></app-header>
<section fxLayout="column" fxLayoutAlign="start center">

    <section fxLayout="row" fxLayoutAlign="space-between center">
        <section fxFlex="25" class="body">
           <router-outlet></router-outlet>
        </section>
        <section fxFlex="50">
            <app-banner></app-banner>
        </section>
    </section>

    <section fxFlex="80">
        <app-qualite></app-qualite>
    </section>

    <section fxFlex="80">
        <app-client></app-clent>
    </section>
    
</section>

