
<section fxLayout="row" fxLayoutAlign="space-between center" class="header mat-elevation-z3" >
    <section class="certificationImage" fxLayoutAlign="start center">
            <img src="assets/iso.png">
    </section>
    <section fxLayout="column" >
        <span fxLayout="row"><mat-icon> phone</mat-icon> 01-64-32-04-36</span>
        <span fxLayout="row"><mat-icon>mail</mat-icon><a HREF="mailto:sa.valet@orange.fr">sa.valet@orange.fr</a></span>
         <span fxLayout="row"><mat-icon> record_voice_over</mat-icon> Formulaire de contact</span>
    </section>
    <section class="conteneur-nav">
        <nav>
            <label for="mobile">Afficher / Cacher le menu</label>
            <input type="checkbox" id="mobile" role="button">
                <ul>
                    <li><a [routerLink]="''">Retour </a></li>
                    <li><a [routerLink]="'/client'">Secteur activité</a></li>
                    <li><a [routerLink]="'/matiere'">Matière traitées</a></li>
                    <li><a  [routerLink]="['qualite']" [fragment]="'qualite1'">Service qualité</a></li>
                    <li><a href="#">Equipement</a></li>
                </ul>   
        </nav>
    </section>
</section>

 <router-outlet></router-outlet>
    

