.banner{
  width: 100%;
  min-width: 100% !important;
  min-height: 550px;
  background-color: #3f87a6;
  border-radius: 20px;
  margin-top: 35px;
}

.picsum-img-wrapper{
position: absolute;
}

iframe[_ngcontent-qap-c161] {
  position: absolute;
  margin-left: 25px;
  z-index: 2000;
}



.iframe{
  position: absolute;
  width: 250px;
  margin-left: 100px;
  margin-top: -100px;
}

.imgNouveaute{
  background-image: url('../../../assets/caroussel/nouveaute2.jpg') ;
  background-size: cover;
  position: fixed;
  width: 250px;
  height: 250px;
  opacity: 2;
  margin: 50px;
  z-index: 5000;
}

.imgNouveaute:hover{
transform: scale(1.4);
}

@media (max-width:1300px) {
  .banner{
    max-width: 1300px;
  }
  .picsum-img-wrapper{
    position: absolute;
    width: 100%;
    }

    .imgCaroussel{
      width: 100%;
    }

}
@media (max-width:1000px) {

  .banner{
    width: 1000px;
    margin-left: -30px;
  }
  .iframe{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    margin-top: 150px;
  }

  ngb-carousel img {
    width: 1050px;
    outline: none;
    opacity: 0.4;
    height: 550px;
}

}
@media (max-width:840px) {

  .banner{
    width: 1000px;
    margin-left: -30px;
  }

  ngb-carousel img {
    width: 1050px;
    outline: none;
    opacity: 0.4;
    height: 550px;
}
.iframe{
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: 160px;
  margin-top: -100px;
}
}

@media (max-width:650px) {

  .banner{
    width: 600px;
    margin-top: -20px;
  }
  .picsum-img-wrapper{
    position: absolute;
    width: 100%;
    }

    .imgCaroussel{
      width: 100%;
    }

    ngb-carousel img {
      text-align: center;
      background-color: white;
      color: black;
      font-family: "cyril";
      font-size: 16px;
      width: 600px;
      max-width: 100%;
  }
  .iframe{
    position: absolute;
    width: 300px;
    height: 200px;
    margin-left: 300px;
    margin-top: 150px;
  }
  .imgNouveaute{
    background-image: url('../../../assets/caroussel/nouveaute2.jpg') ;
    background-size: cover;
    position: fixed;
    width: 250px;
    height: 200px;
    opacity: 2;
    margin-left: -45px;
    margin-top: 30px;
    z-index: 5000;
  }
}