<section class="banner mat-elevation-z8" fxLayout="row" fxLayoutAlign="space-evenly center">
    <ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
        <img src="assets/caroussel/aero.jpg" alt="Angular Carousel 1">
        </div>
        <div class="carousel-caption">
        <h3>MECANIQUE DE PRECISION</h3>
        <p>Production de petites et moyennes series.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
         <img src="assets/caroussel/mazak_quick2.jpg">
        </div>
         <iframe width="450"  src="https://www.youtube.com/embed/D6mxV1B_rXc" class="iframe"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <div class="carousel-caption">
        <h3>NOUVEAUTE 2020</h3>
        <p>Notre nouvel equipement.</p>
        <p class="imgNouveaute"></p>
        </div>
    </ng-template>
    </ngb-carousel>
</section>
