.banner{
  width: 100%;
  min-width: 100% !important;
  min-height: 550px;
  background-color: #3f87a6;
  border-radius: 20px;
  margin-top: 35px;
}

.picsum-img-wrapper{
position: absolute;
}

iframe[_ngcontent-qap-c161] {
  position: absolute;
  margin-left: 25px;
  z-index: 2000;
}



.iframe{
  position: absolute;
  width: 250px;
  margin-left: 100px;
  margin-top: -100px;
}

.imgNouveaute{
  background-image: url('../../../assets/caroussel/nouveaute2.jpg') ;
  background-size: cover;
  position: fixed;
  width: 250px;
  height: 250px;
  opacity: 2;
  margin: 50px;
  z-index: 5000;
}

.imgNouveaute:hover{
transform: scale(1.4);
}

@media (max-width:1300px) {
  .banner{
    max-width: 1300px;
  }
  .picsum-img-wrapper{
    position: absolute;
    width: 100%;
    }

    .imgCaroussel{
      width: 100%;
    }

}

@media (max-width:840px) {

  .banner{
    width: 600px;
    margin-left: -30px;
  }
  .picsum-img-wrapper{
    position: absolute;
    width: 100%;
    }

    .imgCaroussel{
      width: 100%;
    }

    ngb-carousel img {
      width: 630px;
      outline: none;
      opacity: 0.4;
      height: 550px;
  }
  .iframe{
    position: absolute;
    width: 150px;
    height: 150px;
    margin-left: 100px;
    margin-top: 150px;
  }
  .imgNouveaute{
    background-image: url('../../../assets/caroussel/nouveaute2.jpg') ;
    background-size: cover;
    position: fixed;
    width: 100px;
    height: 150px;
    opacity: 2;
    margin-left: -45px;
    z-index: 5000;
  }
}