.banner{
    padding: 40px;
    margin-top: -40px;
}

img{
    height: 400px;
    -webkit-box-shadow: 21px 15px 5px 0px #87CEFA;
-moz-box-shadow: 21px 15px 5px 0px #87CEFA;
box-shadow: 21px 15px 5px 0px #87CEFA;
}