<section fxLayout="row" fxLayoutAlign="space-between center" class="header mat-elevation-z3" >
    <section class="certificationImage" fxLayoutAlign="start center">
            <img src="assets/iso.png">
    </section>
    <section fxLayout="column" >
        <span fxLayout="row"><mat-icon> phone</mat-icon> 01-64-32-04-36</span>
        <span fxLayout="row"><mat-icon>mail</mat-icon><a HREF="mailto:sa.valet@orange.fr">sa.valet@orange.fr</a></span>
    </section>
    <section class="conteneur-nav">
        <nav>
            <label for="mobile">Afficher / Cacher le menu</label>
            <input type="checkbox" id="mobile" role="button">
                <ul>
                    <li><a  (click)="routingToClient('client', false)">Secteur activité</a></li>
                    <li><a  (click)="routingToQualite('qualite', false)">Service qualité</a></li>
                    <li><a href="#">Equipement</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>   
        </nav>
    </section>
</section>
