/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #3f87a6);
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
 }

@font-face {
    font-family: lato;
    src: url(assets/Vogue.ttf) format("opentype");
  }

  @font-face {
    font-family: assassin;
    src: url(assets/police.TTF) format("opentype");
  }
