<section fxLayout.md="row" fxLayout.lg="row" fxLayout.xs="column" fxLayout.lt-md="column" fxLayoutAlign="center center" class="contact mat-elevation-z4">
    <section class="information">
       <span>CONTACT</span>
       <h2>TELEPHONE:</h2>
                <h3>01-64-32-04-36</h3>
       <h2>FAX:</h2>
             <h3>01-64-32-71-49</h3>
       <h2>EMAIL:</h2>
       <h3><a href="mailto:sa.valet@orange.fr">sa.valet@orange.fr</a></h3>
    </section>
    <section class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d169586.09610288922!2d2.836367985848283!3d48.38390941260796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ef42c1861d8fe7%3A0xf27428fe2712a37e!2sSociete+Valet!5e0!3m2!1sfr!2sfr!4v1546846452873" 
      width="700" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
    </section>
